# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app
samples/Banking/.vs/Banking/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.user
*.recipe
*.iobj
*.ipdb
*.log
*.lastbuildstate
*.tlog
*.pdb
